<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:sec="http://www.w3.org/1999/xhtml">

    <a class="navbar-brand" href="">Restaurant Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li sec:authorize="hasAnyRole('RECEPTIONIST','ADMIN')" class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reservation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/reservations">View</a>
                    <a class="dropdown-item" href="/create_reservation">Create</a>
                    <a class="dropdown-item" href="/reservations">Update</a>

                </div>
            </li>
            <li sec:authorize="hasAnyRole('WAITER', 'CHEF','ADMIN','KITCHEN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTcktMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/orders">View</a>
                    <a class="dropdown-item" href="/order_create">Create</a>
                </div>
            </li>
            <li sec:authorize="hasAnyRole('CASHIER','ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTcktMenuLink6" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Payment
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/payment">payment</a>
                    <a class="dropdown-item">Create</a>
                    <a class="dropdown-item">Update</a>
                    <a class="dropdown-item">Delete</a>
                </div>
            </li>


            <li sec:authorize="hasAnyRole('WAITER','ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarRelMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Table
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarRelMenuLink">
                    <a class="dropdown-item" href="/tables">View</a>
                    <a class="dropdown-item" href="/create_table">Create</a>

                </div>
            </li>

            <li sec:authorize="hasAnyRole('CHEF','ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Guest
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/guests">View</a>
                    <a class="dropdown-item" href="/create_guest">Create</a>

                </div>
            </li>
            <li sec:authorize="hasAnyRole('KITCHEN','ADMIN','CHEF')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink5" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Food
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/foods">View</a>
                    <a class="dropdown-item">Create</a>

                </div>
            </li>
            <li sec:authorize="hasAnyRole('KITCHEN','ADMIN','CHEF')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Stock
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/stock">View</a>
                    <a class="dropdown-item" href="/add_stock">Add</a>

                </div>
            </li>

            <li sec:authorize="hasAnyRole('ADMIN')" class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Employee
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/employees">View</a>
                    <a class="dropdown-item" href="/create_employee.html">Create</a>
                </div>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAppMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Report
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item">Daily Report</a>
                    <a class="dropdown-item">Special Report</a>
                </div>
            </li>
        </ul>
        <a href="/logout">
            <button type="button" class="btn btn-secondary">Logout</button>
        </a>
        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</nav>