<nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    xmlns:sec="http://www.w3.org/1999/xhtml"
>
    <a class="navbar-brand" href="index">Restaurant Menu</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li
                sec:authorize="hasAnyRole('RECEPTIONIST','ADMIN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarAppMenuLink1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Reservation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/reservations">View</a>
                    <a class="dropdown-item" href="/create_reservation"
                        >Create</a
                    >
                </div>
            </li>
            <li
                sec:authorize="hasAnyRole('WAITER', 'CHEF','ADMIN','KITCHEN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarTcktMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/orders">View</a>
                    <a class="dropdown-item" href="/order_create">Create</a>
                </div>
            </li>
            <li
                sec:authorize="hasAnyRole('WAITER', 'CHEF','ADMIN','KITCHEN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarTcktMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/menu">View</a>
                    <a
                        sec:authorize="hasAnyRole('ADMIN')"
                        class="dropdown-item"
                        href="/create_menu"
                        >Create</a
                    >
                </div>
            </li>
            <li
                sec:authorize="hasAnyRole('CASHIER','ADMIN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarTcktMenuLink6"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Payment
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarTcktMenuLink">
                    <a class="dropdown-item" href="/payments">View</a>
                </div>
            </li>

            <li
                sec:authorize="hasAnyRole('WAITER','ADMIN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarRelMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Table
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarRelMenuLink">
                    <a class="dropdown-item" href="/tables">View</a>
                    <a
                        sec:authorize="hasAnyRole('ADMIN')"
                        class="dropdown-item"
                        href="/create_table"
                        >Create</a
                    >
                </div>
            </li>

            <li
                sec:authorize="hasAnyRole('CHEF','ADMIN')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarAppMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Guest
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/guests">View</a>
                    <a class="dropdown-item" href="/create_guest">Create</a>
                </div>
            </li>
            <li
                sec:authorize="hasAnyRole('ADMIN','CHEF')"
                class="nav-item dropdown"
            >
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarAppMenuLink4"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Stock
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/add_stock">Add </a>
                    <a class="dropdown-item" href="/foods">View </a>
                    <a class="dropdown-item" href="/index">Report</a>

                </div>
            </li>

            <li sec:authorize="hasAnyRole('ADMIN')" class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarAppMenuLink3"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Employee
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarAppMenuLink">
                    <a class="dropdown-item" href="/employees">View</a>
                    <a class="dropdown-item" href="/create_employee">Create</a>
                </div>
            </li>
        </ul>
        <a href="/logout">
            <button type="button" class="btn btn-light">
                <i class="fas fa-sign-out-alt fa-2x"></i>
            </button>
        </a>
    </div>
</nav>
