<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Add Guest</title>
</head>

<body>
<div th:insert="fragments/navbar.html"></div>

<div class="container">
  <div class="jumbotron">
    <h3>New Guest</h3>
    <div class="mt-5">
      <form id="employeeForm" method="POST" action="http://localhost:8080/api/guest">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Firstname</label>
            <input type="text" class="form-control" id="inputName" name="firstName" placeholder="Firstname">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastname">Lastname</label>
            <input type="text" class="form-control" id="inputLastname" name="lastName"
                   placeholder="Lastname">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone Number</label>
            <input type="number" class="form-control" id="inputPhoneNumber" name="phonenumber"
                   placeholder="Phone Number">
          </div>
          <div class="form-group col-md-6">
            <label for="inputRoomNumber">Room Number</label>
            <input type="number" class="form-control" id="inputRoomNumber" name="roomnumber"
                   placeholder="Room Number">
          </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
      </form>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>

</script>
</body>

</html>