<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://kit.fontawesome.com/144f4e017a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <title>Guests</title>
    <style>
        #main{
          margin: auto;
          width: 95%;
          padding: 10px;
        }
        a.editor-create {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    </style>
</head>

<body>
<div th:insert="fragments/navbar.html"></div>

<div id="main">
    <table id="tableBody" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Guestname</th>
            <!--                        <th scope="col">Firstname</th>-->
            <!--                        <th scope="col">Lastname</th>-->
            <th scope="col">Phone Number</th>
            <th scope="col">Room Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
<script>
        let rowData;
        $(document).ready(function () {
         $('#tableBody').DataTable( {
        "processing": true,
         ajax :
         {
                url: 'http://localhost:8080/api/guests',
                  dataSrc: ''
    },
        "columns": [
            { "data": function( rowData, type, row ){
            console.log(type)
             console.log(rowData)
                        return rowData.firstName + " " + rowData.lastName;
                    }
            },
            {"data": "phoneNumber"},
            {"data": "roomNumber"},
            {
                        data: null,
                        className: "dt-center editor-edit",
                        defaultContent: '<i class="far fa-edit"></i>',
                        orderable: false
                    },
                    {
                        data: null,
                        className: "dt-center editor-delete",
                        defaultContent: '<i class="far fa-trash-alt"></i>',
                        orderable: false
                    }
        ]
    });
                
        var table = $('#tableBody').DataTable();

            $('#tableBody').on('click', '.fa-trash-alt', function () {
                rowData = table.row($(this).parents('tr').first()).data().id;
                console.log(rowData);
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:8080/api/delete/" + rowData,
                    success: function (response) {
                        location.reload();

                    }
                });
            });

            $('#tableBody').on('click', '.fa-edit', function () {
                rowData = table.row($(this).parents('tr').first()).data();
                console.log(rowData);
                 var id=rowData.id;
                 var firstName=rowData.firstName;
                var lastName=rowData.lastName;
                var phoneNumber=rowData.phoneNumber;
                var roomNumber=rowData.roomNumber;
            var guest = {
                id : id,
                firstName:firstName,
                lastName :lastName,
                phoneNumber:phoneNumber,
                roomNumber:roomNumber
            }

            var guestJSON = JSON.stringify(guest);

                
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:8080/api/willupdateguest",
                    data:guestJSON,
                    contentType:"application/json",
                    success: function (response) {
                        console.log(response)
                        pageRedirect();

                    }
                });
            });
        })
          function pageRedirect() {
            window.location.href = "./updateGuess.html";
        }



</script>
</body>

</html>