<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Orders</title>
</head>

<body>

<div th:insert="fragments/navbar.html"> </div>

    <div class="container">
        <div class="jumbotron">
            <h3>Orders</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Table No</th>
                        <th scope="col">Drink List</th>
                        <th scope="col">Reservation</th>
                        <th scope="col">Diet</th>
                        <th scope="col">Employee</th>
                    </tr>
                </thead>
                <tbody id="tableBody">


                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:8080/api/orders',
                headers: { "Accept": "application/json" },
                type: "GET", /* or type:"GET" or type:"PUT" */
                dataType: "json",
                data: {
                },
                success: function (data) {
                    console.log(data);

                    let html;
                    data.forEach(element => {
                        html += `<tr>
                                        <td>${element.id}</td>
                                        <td>${element.table.id}</td>
                                        <td>${element.drinkList[0].name}, ${element.drinkList[1].name}</td>
                                        <td>${element.reservation.id == null ? "No" : "Yes"}</td>
                                        <td>${element.diet ? "Yes" : "No"}</td>
                                        <td>${element.employee.firstName}</td>
                                    </tr>`
                    });

                    $('#tableBody').append(html);

                },
                error: function () {
                    console.log("error");
                }
            });
        })

    </script>
</body>

</html>