<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
            rel="stylesheet"
        />
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <script
            src="https://kit.fontawesome.com/144f4e017a.js"
            crossorigin="anonymous"
        ></script>
        <title>Payments</title>
    </head>

    <body>
        <div th:insert="fragments/navbar.html"></div>
        <div th:insert="fragments/modal.html"></div>

        <div class="container">
            <div class="jumbotron">
                <div class="text-center">
                    <i class="fas fa-money-check-alt fa-10x"></i>
                </div>

                <table id="table" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Order Number</th>
                            <th scope="col">Table Number</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
                <div class="text-center">
                    <button
                        id="totalPriceShow"
                        type="button"
                        class="btn btn-outline-danger btn-block"
                    ></button>
                </div>
            </div>
        </div>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        <script>
            let dataNew;
            let rowData;
            let generalTotalPrice = 0;
            function getData() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/api/payment",
                    success: function (data) {
                        console.log(data);
                        dataNew = data;
                        putDataToDataTable(data);
                        calculateGeneralTotalPrice(data);
                    },
                    error: function () {
                        console.log("error");
                    },
                });
            }
            $("#totalPriceShow").click(function (e) {
                e.preventDefault();
                let tax = (generalTotalPrice * 10) / 100;
                let modalText = `<p>Total Tax: € ${formatMoney(
                    tax
                )}</p><br/><p>Net income: € ${formatMoney(
                    generalTotalPrice - tax
                )}</p>`;
                getModal(
                    "Information",
                    modalText,
                    "hello",
                    "btn-primary",
                    true
                );
            });
            function calculateGeneralTotalPrice(priceArr) {
                let result = 0;
                priceArr.forEach((element) => {
                    result += element.totalPrice;
                });
                generalTotalPrice = result;
                $("#totalPriceShow").append(
                    "Total income: € " + formatMoney(result)
                );
            }
            function putDataToDataTable(data) {
                $("#table").DataTable().clear();
                $("#table").DataTable().rows.add(data);
                $("#table").DataTable().columns.adjust().draw();
            }

            $(document).ready(async function () {
                await getData();
                $("#table").DataTable({
                    data: dataNew,
                    columns: [
                        {
                            data: "id",
                            visible: false,
                            searchable: false,
                        },
                        {
                            data: "paymentMethod",
                        },
                        {
                            data: "order.id",
                        },
                        {
                            data: "order.table.id",
                        },
                        {
                            data: function (data) {
                                return "€ " + data.totalPrice;
                            },
                        },
                    ],
                });
            });

            function getModal(
                header,
                text,
                confirmationWord,
                buttonColor,
                deleteButton
            ) {
                $("#confirmButton").show();
                $("#confirmButton").addClass(buttonColor);
                $("#exampleModalLabel").html(header);
                $("#confirmButton").html(confirmationWord);
                $(".modal-body").html(text);
                $("#exampleModal").modal("show");
                if (deleteButton == true) {
                    $("#confirmButton").hide();
                    $("#cancelButton").html("Close");
                }
            }

            function formatMoney(amount) {
                return amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
            }

            function pageRedirect() {
                window.location.href = "./update_employee";
            }
        </script>
    </body>
</html>
