<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Payment</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
        />
        <link rel="stylesheet" th:href="@{/css/payment.css}" />
    </head>

    <body>
        <div th:insert="fragments/modal.html"></div>
        <main class="page payment-page">
            <section class="payment-form dark">
                <div class="container">
                    <div class="block-heading">
                        <h2>Payment</h2>
                    </div>
                    <form id="paymentForm">
                        <div id="checkoutDetail" class="products"></div>
                        <div class="card-details">
                            <h3 class="title">
                                Credit Card Details / Or Direct Payment By Cash
                            </h3>
                            <i
                                class="fa fa-paypal"
                                style="
                                    margin-right: 10px;
                                    font-size: 40px;
                                    color: red;
                                "
                            ></i>
                            <i
                                class="fa fa-cc-visa"
                                style="
                                    margin-right: 10px;
                                    font-size: 40px;
                                    color: blue;
                                "
                            ></i>
                            <i
                                class="fa fa-cc-mastercard"
                                style="
                                    margin-right: 250px;
                                    font-size: 40px;
                                    color: orange;
                                "
                            ></i>
                            <img
                                src="https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=70x70&chld=L|0"
                                class="qr-code img-thumbnail img-responsive"
                            />
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-7">
                                    <label for="card-holder">Card Holder</label>
                                    <input
                                        id="card-holder"
                                        type="text"
                                        class="form-control"
                                        placeholder="Card Holder"
                                        aria-label="Card Holder"
                                        aria-describedby="basic-addon1"
                                    />
                                </div>
                                <div class="form-group col-sm-5">
                                    <label>Expiration Date</label>
                                    <div class="input-group expiration-date">
                                        <input
                                            type="number"
                                            class="form-control"
                                            min="0"
                                            max="12"
                                            placeholder="MM"
                                            aria-label="MM"
                                            aria-describedby="basic-addon1"
                                        />
                                        <span class="date-separator">/</span>
                                        <input
                                            type="number"
                                            min="0"
                                            class="form-control"
                                            placeholder="YY"
                                            aria-label="YY"
                                            aria-describedby="basic-addon1"
                                        />
                                    </div>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="card-number">Card Number</label>
                                    <input
                                        id="card-number"
                                        type="text"
                                        class="form-control"
                                        placeholder="Card Number"
                                        aria-label="Card Holder"
                                        aria-describedby="basic-addon1"
                                    />
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1>E-Signature</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas
                                                id="sig-canvas"
                                                width="620"
                                                height="160"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button
                                                class="btn btn-primary"
                                                id="sig-submitBtn"
                                            >
                                                Submit Signature
                                            </button>
                                            <button
                                                class="btn btn-default"
                                                id="sig-clearBtn"
                                            >
                                                Clear Signature
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea
                                                id="sig-dataUrl"
                                                class="form-control"
                                                rows="5"
                                            >
Data URL for your signature will go here!</textarea
                                            >
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img
                                                id="sig-image"
                                                src=""
                                                alt="signature will go here!"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <button
                                    id="complete-payment"
                                        type="button"
                                        class="btn btn-primary btn-block"
                                    >
                                        Complete Payment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script th:src="@{/js/payment.js}"></script> -->
    <script>
        let paymentInfo;
        let orderInfo;
        let menuInfo;
        let totalPrice;
        let paymentJsObj;
        $(document).ready(async function () {
            await $.ajax({
                type: "GET",
                url: "/api/order/orderwhichwillbepaid",
                success: function (response) {
                    orderInfo = response;
                    console.log(response);
                },
            });
            await $.ajax({
                type: "GET",
                url: "/api/menu",
                success: function (response) {
                    menuInfo = response;
                    console.log(response);
                },
            });
            await $.ajax({
                type: "GET",
                url: "/api/payment/in/processing",
                success: function (response) {
                    paymentInfo = response;
                    console.log(paymentInfo);
                },
            });

            setOrderItemByItemToInvoince(
                orderInfo.dishes,
                menuInfo,
                "checkoutDetail",
                10
            );
        });

        function setOrderItemByItemToInvoince(
            orderArr,
            menuArr,
            htmlElId,
            taxRatio
        ) {
            let htmlElement = `<h3 class="title">Checkout</h3>`;
            let priceOfProduct;
            let subTotal = 0;
            orderArr.forEach((element, index) => {
                priceOfProduct = 0;
                priceOfProduct = getPriceOfProduct(element.name, menuArr);
                subTotal += priceOfProduct * element.quantity;
                console.log(subTotal);
                htmlElement += `<div class="item">
                                                <span class="price">€${priceOfProduct}</span>
                                                <p class="item-name">Product ${
                                                    index + 1
                                                }</p>
                                                <p class="item-description">
                                                    ${element.name}
                                                </p>
                                            </div>`;
            });
            totalPrice = subTotal + (subTotal * taxRatio) / 100;
            htmlElement += `<div class="total">
                                                Tax (${taxRatio}%)<span class="price">€${
                (subTotal * taxRatio) / 100
            }</span> <br/><br/>
                                                Total Payment<span class="price">€${totalPrice}</span>
                                            </div>`;
            $(`#${htmlElId}`).append(htmlElement);
        }

        $("#complete-payment").click(function (e) { 
            e.preventDefault();
            let order = orderInfo;
            let paymentMethod =
                $("#card-number").val() == "" ? "CASH" : "CREDIT CARD";
            paymentJsObj = {
                order,
                totalPrice,
                paymentMethod,
            };
            getModal(
                "Hey,there!",
                "Payment will be completed. Are you sure to do that?",
                "YEP, I'M SURE:)",
                "btn-primary"
            );
            
        });

        function getPriceOfProduct(productName, priceArr) {
            let price = 0;
            priceArr.find((p) => {
                console.log(p);
                if (p.name == productName) {
                    price = p.price;
                }
            });
            return formatMoney(price);
        }

        function formatMoney(amount) {
            return amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
        }

        $("#confirmButton").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: "http://localhost:8080/api/payment",
                data: JSON.stringify(paymentJsObj),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    getModal(
                        "Information",
                        "The payment is completed!",
                        "hello",
                        "btn-primary",
                        true
                    );
                },
            });
        });

        function getModal(
            header,
            text,
            confirmationWord,
            buttonColor,
            deleteButton
        ) {
            $("#confirmButton").show();
            $("#confirmButton").addClass(buttonColor);
            $("#exampleModalLabel").html(header);
            $("#confirmButton").html(confirmationWord);
            $(".modal-body").html(text);
            $("#exampleModal").modal("show");
            if (deleteButton == true) {
                $("#confirmButton").hide();
                $("#cancelButton").html("Close");
            }
        }

        function pageRedirect() {
            window.location.href = "./payments";
        }

        $("#cancelButton").click(function (e) {
            e.preventDefault();
            pageRedirect("index");
        });
    </script>
</html>
