<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Update Reservation</title>
</head>
<div th:insert="fragments/navbar.html"></div>
<div th:insert="fragments/modal.html"></div>

<body>
<div class="container">
  <div class="jumbotron">
    <h3>Update reservation</h3>
    <form id="dateCheckForm">
      <div class="form-row">
        <div class="col">
          <label for="reservation-date-time">Choose a time for reservation:</label>
          <input type="datetime-local" id="reservation-date-time" class="form-control"
                 name="meeting-time" value="2021-08-12T19:30"
                 min="2021-08-09T00:00">
          <input type="submit" class="btn btn-primary" value="Check">
        </div>
      </div>
    </form>
    <hr/>
    <form id="reservationForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Firstname</label>
          <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Firstname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastname">Lastname</label>
          <input type="text" class="form-control" id="inputLastname" name="inputLastname"
                 placeholder="Lastname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhoneNo">Phone Number</label>
          <input type="text" class="form-control" id="inputPhoneNo" name="inputPhoneNo"
                 placeholder="Phone Number">
        </div>
        <div class="form-group col-md-6">
          <label for="inputRoomNo">Room No</label>
          <input type="text" class="form-control" id="inputRoomNo" name="inputRoomNo"
                 placeholder="Room No">
        </div>
      </div>
      <div class="form-group">
        <label for="selectTable">Select Table</label>
        <select style="width: 90%" multiple class="form-control" id="selectTable" name="selectTable">

        </select>
      </div>
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>

let reservationData;
let dateAndTime;
// let reservationDateEl = dateChanger(dateAndTime);
console.log(dateAndTime);
// console.log(reservationDateEl);

let updateText = "<p>The reservation is updated.</p>"
let id;
let guestFirstNameEl = $("#inputName");
let guestLastNameEl = $("#inputLastname");
let guestRoomNoEl = $("#inputRoomNo");
let guestPhoneNumberEl = $("#inputPhoneNo");
let desiredResTable;


function getModal(header, text, confirmationWord, buttonColor, deleteButton) {
            $("#confirmButton").show();
            $("#confirmButton").addClass(buttonColor);
            $("#exampleModalLabel").html(header)
            $("#confirmButton").html(confirmationWord)
            $(".modal-body").html(text);
            $('#exampleModal').modal('show')
            if (deleteButton == true) {
                $("#confirmButton").hide();
                $("#cancelButton").html("Close")
            }
        }

$(document).ready(function () {
            getData();
});
        function getData() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/reservation/update",
                success: function (response) {
                    reservationData = response;
                    console.log(reservationData);
          
                guestFirstNameEl.val(reservationData.guest.firstName);
                guestLastNameEl.val(reservationData.guest.lastName);
                guestRoomNoEl.val(reservationData.guest.roomNumber);
                guestPhoneNumberEl.val(reservationData.guest.phoneNumber);
                }
            });
        }

    $("#reservationForm").submit(function (event) {
    event.preventDefault();
    dateAndTime = $("#reservation-date-time").val();
    console.log("hello");
    desiredResTable = $("select[name=selectTable] option")
                .filter(":selected")
                .val();
    var reservationJsObject = {
        id: reservationData.id,
        reservationDate: dateAndTime,
        guest: {
            firstName: guestFirstNameEl.val(),
            lastName: guestLastNameEl.val(),
            phoneNumber:guestPhoneNumberEl.val(),
            roomNumber:guestRoomNoEl.val()
        },
        table: {
            id: parseInt(desiredResTable),
        },

    }


    console.log(reservationJsObject);

    var reservationJSON = JSON.stringify(reservationJsObject);
    console.log(reservationJSON);
    $.ajax({
        type: "put",
        url: "http://localhost:8080/api/reservation",
        data: reservationJSON,
        dataType: "application/json",
        contentType: "application/json",
        success: function (response) {
            console.log(response);
        },
    });
    getModal("Hey,there!", updateText, "YEP, I'M SURE:)", "btn-primary", true);
});

    $("#dateCheckForm").submit(function (event) {
    //alert("Handler for .submit() called.");
    event.preventDefault();
    dateAndTime = $("#reservation-date-time").val();
console.log(dateAndTime);
    $.ajax({
        url: "http://localhost:8080/api/getavailabletables/"+dateAndTime,
        headers: { Accept: "application/json" },
        type: "GET" /* or type:"GET" or type:"PUT" */,
        dataType: "json",
        data: {},
        success: function (data) {
            console.log(data);

            let html;
            data.forEach((element) => {
                html += `<option value=${element.id}>Table No: ${element.id}, Size: ${element.numberOfChairs} chairs, Location: ${element.floor}. floor</option>`;
            });

            $("#selectTable").append(html);
        },
        error: function () {
            console.log("error");
        },
    });
});

function dateChanger(data, type, row, meta) {
          let dateFormatArray = data.split("T");
          let date = dateFormatArray[0];
          let time = dateFormatArray[1].slice(0, 5);
          return date + " " + time;
        }
    </script>
</body>

</html>